<!DOCTYPE html>
<html>
<head>
	<title>New Dog Page</title>
</head>
<body>
	<h1>Make a new good boy</h1>

	<form action="/doge" method="POST">
		Name: <input type="text" name="name"><br>
		Breed: <input type="text" name="breed"><br>
		Weight: <input type="text" name="weight"><br>
		Favorite Food: <input type="text" name="favoriteFood"><br>
		<input type="submit">
	</form>

</body>
</html>